body{
    font-size: 15px;
    font-family: 'Montserrat', bold;
    margin: 0 auto;
    line-height: 1.6;
    background-color: rgb(29, 10, 75);
    color: #fff;
}
  /*
  font-family: 'Montserrat', sans-serif;
  d41459 - color ps
  */
*,
*::after,
*::before {
    box-sizing: border-box;
}
  
h1,h2,h3,h4,h5,h6 {
    margin:0;
}

.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header */

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgb(47, 22, 107);
}

.margin_header {
    margin-top: 90px;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    position: relative;
    height: 60px;
    width: 100px;
}

.logo_link {
    position: absolute;
    left: 0;
    width: 100%;
    height: 60px;
}

.logo_link img {
    width: 100px;
    height: 60px;
}

.logo_categories {
    display: flex;
    justify-content: left;
    margin: 20px 0 0 80px;
    font-size: 20px;
    line-height: 1;
    font-weight: 700;
}

.logo_categories a {
    text-decoration: none;
    color: #fff;
    transition: color .15s linear;
}

.logo_categories a:hover {
    color: rgb(219, 29, 76);   
}

.category_films, .category_serials, .category_subscription {
    margin-right: 10px;
    list-style-type: none;
}

/* Navigation */

.nav {
    font-size: 20px;
    display: block;
}

.nav_btn {  
    margin: auto 5px;
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 2ch;
    transition: background .15s linear;
}

.nav_btn:last-child {
    margin-right: 0;
}

.nav_btn:hover {
    background-color: rgb(219, 29, 76);
}

/* Popular in subscription */

.popular {
    width: 100%;
    padding: 0 10px;
}

.popular_header {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 700;
}

.popular_films {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.film {
    position: relative;
    width: 175px;
    margin-right: 2%;
    text-align: center;
}

.film:hover .poster_detail{
    opacity: 1;
}

.film:last-child {
    margin-right: 0;
}

.film_link {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

.film_poster {
    position: relative;
    height: 250px;
}

.poster_detail {
    position: absolute;
    height: 100%;
    font-size: 18px;
    font-weight: 700;
    opacity: 0;
    cursor: pointer;
    background-color: rgba(65, 65, 65, 0.712);
    transition: opacity .15s linear;
}

.detail_rating {
    margin-top: 100px;
}

.film_poster img {
    width: 100%;
    height: 250px;
}

.film_name {
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    margin: 10px 0 0 5px;
    line-height: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.film_sub {
    font-size: 16px;
    color: rgb(219, 29, 76);
    text-align: left;
    margin-left: 5px;
}

/* States */

/* .states {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 80px;
}

.states_item {
    position: relative;
    width: 48%;
    margin: 25px auto;
    box-shadow: 0 0 10px 1px rgb(179, 170, 170);
}

.item_header {
    text-align: center;
    margin: 5px auto 10px;
    font-size: 25px;
    font-style: italic;
}

.item_header::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(74, 113, 163);
}

.item_content {
    margin: 0 10px 30px 10px;
    font-size: 20px;
}

.item_btns a {
    text-align: center;
}

.btns_edit {
    position: absolute;
    left: 20px;
    bottom: 3px;
    text-decoration: none;
    color: rgb(52, 163, 24);
}

.btns_delete { 
    position: absolute;
    right: 20px;
    bottom: 3px;
    text-decoration: none;
    color: rgb(209, 13, 13);
} */

/* Add Form */

.form {
    margin-top: 20px;
    text-align: center;
    align-items: center;
}

.add_form {
    display: flex;
    flex-direction: column;
}

.add_form_input {
    margin: 20px auto 5px;
    padding: 5px 10px;
    border: 0;
    border-radius: .7ch;
    text-align: center;
    width: 50%;
    font-size: 20px;
}

.add_form_submit {
    margin: 20px auto 15px;
    border: 0;
    padding: 5px 0;
    font-size: 24px;
    border-radius: .7ch;
    color: rgb(163, 163, 163);
    background-color: rgb(143, 42, 67);
    width: 50%;
    cursor: pointer;
    transition: color .3s linear, 
    background .2s linear;
}

.add_form_submit:hover {
    color: #fff;
    background-color: rgb(219, 29, 76);
}


/* Edit Form */

.edit_form {
    display: flex;
    flex-direction: column;
}

.edit_form_input {
    margin: 20px auto 5px;
    width: 50%;
}

.edit_form_submit {
    margin: 20px auto 5px;
    width: 50%;
}

/* Watch */

.watch div {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

/* Personal */

.personal_header {
    display: block;
}

.personal_header_name {
    font-size: 45px;
    font-weight: 700;
    line-height: 1;
}

.personal_header_email {
    font-size: 20px;
    margin: 10px auto 20px;
    color: rgb(119, 140, 255);
}

.personal_finance {
    display: flex;
    justify-content: space-between;
}

.finance_sub {
    width: 69%;
    background-color: rgb(51, 31, 97);
    transition: background .15s linear;
    cursor: pointer;
}

.sub_content {
    margin: 0 20px;
}

.sub_head {
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    margin: 10px auto 5px;
}

.sub_timeout {
    font-size: 20px;
    line-height: 1;
}

.sub_control {
    font-size: 22px;
    margin: 20px auto 5px;
    font-weight: 700;
}

.finance_money {
    width: 29%;
    background-color: rgb(51, 31, 97);
    transition: background .15s linear;
    cursor: pointer;
}

.money_content {
    margin: 0 20px;
}

.money_head {
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    margin: 10px auto 5px;
}

.money_timeout {
    font-size: 20px;
    line-height: 1;
}

.money_control {
    font-size: 22px;
    margin: 20px auto 5px;
    font-weight: 700;
}

.finance_sub:hover, .finance_money:hover {
    background-color: rgb(73, 51, 126);
}

.personal_back {
    display: flex;
    justify-content: start;
    margin: 25px 5px;
}

.back_changepass img, .back_out img {
    position: absolute;
    width: 30px;
    height: 30px;
}

.back_changepass, .back_out{
    position: relative;
    height: 30px;
    transition: color .15s linear;
    cursor: pointer;
}

.back_change_name, .back_out_name {
    line-height: 2;
    margin-left: 35px;
    margin-right: 15px;
    font-size: 16px;
    font-weight: 700;
}

.back_out_word, .back_change_word {
    text-decoration: none;
    color: #fff;
    transition: color .2s linear;
}

.back_changepass:hover a, .back_out:hover a {
    color: rgb(219, 29, 76);
}

.authorizate {
    display: inline-block;
    width: 100%;
    height: 245px;
    align-items: center;
}

.authorizate_center {
    width: 40%;
    display: flex;
    justify-content: center;
    margin: 100px auto;
}

.authorizate_login {
    background-color: rgb(47, 22, 107);
}

.authorizate_login:hover {
    background-color: rgb(65, 38, 126);
    border: 2px solid rgb(219, 29, 76);    
    transform: translate(-5px, 0) scale(1.06);
}

.authorizate_ili {
    font-size: 20px;
    line-height: 2;
}

.authorizate_register, .authorizate_login {
    margin:auto 30px;
    border: 2px solid transparent;
    border-radius: 2ch;
    cursor: pointer;
    font-size: 26px;
    transition: background .3s linear,
    transform .3s linear, 
    border .5s ease-in-out;
}

.authorizate_register {
    background-color: rgb(219, 29, 76);
}

.authorizate_register:hover {
    background-color: rgb(245, 70, 114);
    border: 2px solid rgb(104, 69, 187);
    transform: translate(5px, 0) scale(1.06);
}

.authorizate_login a, .authorizate_register a {
    text-decoration: none;
    color: #fff;
    margin: 3px 20px;
}

.input_data {
    position: relative;
    width: 100%;
}

.lk_error {
    width: 100%;
    text-align: center;
    color: rgb(219, 29, 76);
    font-size: 20px;
    transform: translate(0, -20px);
}

/* Authorizate form */

.authorizate_form {
    visibility: hidden; 
    height: 200px;
}

.authorizate_form.active {
    visibility: visible;
}

.auth_form {
    position: absolute;
    max-width: 470px;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Registrate form */

.registrate_form {
    visibility: hidden;
}

.registrate_form.active {
    visibility: visible;
}

.reg_form {
    position: absolute;
    max-width: 470px;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
}
 