body{
    font-size: 15px;
    font-family: 'Montserrat', bold;
    margin: 0 auto;
    line-height: 1.6;
}
  /*
  font-family: 'Montserrat', sans-serif;
  */
*,
*::after,
*::before {
    box-sizing: border-box;
}
  
h1,h2,h3,h4,h5,h6 {
    margin:0;
}

.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 50px;
    align-items: center;
    vertical-align: middle;
}

.logo {
    margin-left: 10px;
    text-decoration: none;
    font-size: 35px;
    color: rgb(66, 64, 64);

}

.header_list {
    font-size: 20px;
    display: block;
}

.list_btn {  
    margin: auto 5px;
    padding: 5px 10px;
    text-decoration: none;
    color: rgb(74, 113, 163);
    border: 1px solid rgb(50, 146, 190);
    border-radius: 2ch;
    transition: color .15s linear, background .15s linear;
}

.list_btn:hover {
    background-color: rgb(50, 146, 190);
    color: rgb(241, 229, 229); 
}

/* states */

.states {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.states_item {
    position: relative;
    width: 48%;
    margin: 25px auto;
    box-shadow: 0 0 10px 1px rgb(179, 170, 170);
}

.item_header {
    text-align: center;
    margin: 5px auto 10px;
    font-size: 25px;
    font-style: italic;
}

.item_header::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(74, 113, 163);
}

.item_content {
    margin: 0 10px 30px 10px;
    font-size: 20px;
}

.item_btns a {
    text-align: center;
}

.btns_edit {
    position: absolute;
    left: 20px;
    bottom: 3px;
    text-decoration: none;
    color: rgb(52, 163, 24);
}

.btns_delete { 
    position: absolute;
    right: 20px;
    bottom: 3px;
    text-decoration: none;
    color: rgb(209, 13, 13);
}

/* Add Form */

.form {
    margin-top: 20px;
    text-align: center;
    align-items: center;
}

.add_form {
    display: flex;
    flex-direction: column;
}

.add_form_input {
    margin: 20px auto 5px;
    width: 50%;
}

.add_form_submit {
    margin: 20px auto 5px;
    width: 50%;
}

/* Edit Form */

.edit_form {
    display: flex;
    flex-direction: column;
}

.edit_form_input {
    margin: 20px auto 5px;
    width: 50%;
}

.edit_form_submit {
    margin: 20px auto 5px;
    width: 50%;
}